{% extends 'users/login_reg_base.html' %}

{% block content %}
    <div id="contact">
        <div class="row">
            <div class="col-lg-12">
                <h2>Восстановление пароля</h2>
            </div>
            <div class="col-lg-12 inp">
                <fieldset>
                    <label class="small mb-1">
                        Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты
                        (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время. Если вы
                        не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались,
                        и проверьте папку со спамом.
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="footer">
            <p><a href="{% url 'main' %}">На главную</a></p>
        </div>
    </div>
{% endblock %}