{% extends "base.html" %}


{% block content %}
    <section style="background-color: #262626; padding-top: 100px">
        <div class="container" style="padding-bottom: 100px">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card shadow-lg border-0 rounded-lg mt-5"
                         style="background-color: rgba(250, 250, 250, 0.15);color:white">
                        <div class="card-header">
                            <h2 class="text-center font-weight-light my-4">Восстановление пароля</h2>
                        </div>
                        <div class="card-body">
                            <div class="col-md-12 text-center font-weight-light my-4">
                                <h4>Письмо с инструкциями по восстановлению пароля отправлено</h4>
                            </div>
                            <div class="col-md-12 mx-auto font-weight-light my-4" >
                                <p style="color: white; text-align: justify">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время..</p>
                                <p style="color: white;text-align: justify;">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/inc_footer.html' %}

    </section>
{% endblock %}