<div class="pagination col-lg-12">
    <ul>
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
            {% elif i < page_obj.number and i|add:'2' >= page_obj.number %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% elif i > page_obj.number and i|add:'-2' <= page_obj.number %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>