{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Категории</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {#                        <div class="col-lg-12"> !!! Фильтрация на будущее !!! #}
                        {#                            <div class="filters">#}
                        {#                                <ul>#}
                        {#                                    {% for over_category in over_categories %}#}
                        {#                                        <li><a href="/">{{ over_category.name }}</a></li>#}
                        {#                                    {% endfor %}#}
                        {#                                </ul>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="col-lg-12">
                            <div class="row">
                                {% for category in all_categories %}
                                    <div class="col-lg-4 cat-cont templatemo-item-col all soon">
                                        <div class="meeting-item cat-cont">
                                            <a class="cat-cont" href="{% url 'orders:category' category.id %}">
                                                <div class="thumb">
                                                    <div class="price">
                                                        <span>100 поставщиков</span>
                                                        <!-- Надо будет ещё количество добавить, но после того как это вьюху добавят -->
                                                    </div>
                                                    {% if category.image %}
{#<!--                                                        <img src="{{ category.image }}" alt="">-->#}
                                                            <img src="/media/{{ category.image }}" alt="">
                                                    {% else %}
                                                        <img src="{% static 'assets/images/placeholder_300x150.png' %}"
                                                             alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="down-content">
                                                    <h4>{{ category.name }}</h4>
                                                    <p>{{ category.description }}</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            {% include 'includes/pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>© 2022 N</p>
        </div>
    </section>
{% endblock %}