{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Категории</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row cat-center">
                                {% if not user.role == 'Supplier' and not user.role == 'Customer' %}
                                    <div class="col-lg-12 categories-filter">
                                        <form class="categories-filter-form" id="categories_filter_form" method="GET">
                                            <div class="filter-fields left-fields">
                                                {{ filtered_categories.form }}
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                                {% if user.role == 'Supplier' or user.role == 'Customer' %}
                                    {% for category in page_obj_active %}
                                        <div class="col-lg-4 cat-cont templatemo-item-col all soon">
                                            <div class="meeting-item cat-cont">
                                                <a class="cat-cont-a" href="{% url 'orders:category' category.id %}">
                                                    <div class="thumb">
                                                        <div class="price">
                                                            <span>Кол-во поставщиков: {{ category.count_orders }}</span>
                                                            <!-- Надо будет ещё количество добавить, но после того как это вьюху добавят -->
                                                        </div>
                                                        {% if category.image %}
                                                            <!--                                                        <img src="{{ category.image }}" alt="">-->
                                                            <img src="/media/{{ category.image }}" alt="">
                                                        {% else %}
                                                            <img src="{% static 'assets/images/placeholder_300x150.png' %}"
                                                                 alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="down-content">
                                                        <h4>{{ category.name }}</h4>
                                                        <p>{{ category.description }}</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% for category in page_obj %}
                                        <div class="col-lg-4 cat-cont templatemo-item-col all soon">
                                            <div class="meeting-item cat-cont">
                                                <a class="cat-cont-a" href="{% url 'orders:category' category.id %}">
                                                    <div class="thumb">
                                                        <div class="price amount_suppliers">
                                                            <span>Кол-во поставщиков: {{ category.count_orders }}</span>
                                                            <!-- Надо будет ещё количество добавить, но после того как это вьюху добавят -->
                                                        </div>
                                                        {% if category.image %}
                                                            <!--                                                        <img src="{{ category.image }}" alt="">-->
                                                            <img src="/media/{{ category.image }}" alt="">
                                                        {% else %}
                                                            <img src="{% static 'assets/images/placeholder_300x150.png' %}"
                                                                 alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="down-content">
                                                        <h4>{{ category.name }}</h4>
                                                        <p>{{ category.description }}</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            {#                            {% include 'includes/pagination.html' %}#}
                            {% load filter_tags %}

                            <div class="pagination col-lg-12">
                                <ul>
                                    {% if page_obj.has_previous %}
                                        <li>
                                            <a href="{% my_url 1 'page' request.GET.urlencode %}">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="active">
                                        <a href="#">
                                            {{ page_obj.number }}
                                        </a>
                                    </li>
                                    {% if page_obj.has_next %}
                                        <li>
                                            <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/inc_footer.html' %}

    </section>
{% endblock %}

{% block morejs %}
    <script src="{% static 'assets/js/categories.js' %}"></script>
{% endblock %}