{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Категории</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {#                        <div class="col-lg-12"> !!! Фильтрация на будущее !!! #}
                        {#                            <div class="filters">#}
                        {#                                <ul>#}
                        {#                                    {% for over_category in over_categories %}#}
                        {#                                        <li><a href="/">{{ over_category.name }}</a></li>#}
                        {#                                    {% endfor %}#}
                        {#                                </ul>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="col-lg-12">
                            <div class="row grid">
                                {% for category in all_categories %}
                                    <div class="col-lg-4 templatemo-item-col all soon">
                                        <div class="meeting-item">
                                            <div class="thumb">
                                                <div class="price">
                                                    <span>100 поставщиков</span>
                                                    <!-- Надо будет ещё количество добавить, но после того как это вьюху добавят -->
                                                </div>
                                                <a href="meeting-details.html"><img
                                                        src="{% static 'assets/images/placeholder_300x150.png' %}"
                                                        alt=""></a>
                                            </div>
                                            <div class="down-content">
                                                <a href="meeting-details.html"><h4>{{ category.name }}</h4></a>
                                                <p>{{ category.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="pagination">
                                <ul>
                                    {% if page_obj.has_previous %}
                                        <li>
                                            <a href="?page={{ page_obj.previous_page_number }}">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li>
                                            <a href="?page={{ page_obj.next_page_number }}">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>© 2022 N</p>
        </div>
    </section>
{% endblock %}