{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Создание заказа</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {% if form.errors %}
                            <div
                                    class="alert alert-warning alert-dismissible fade show"
                                    role="alert"
                                    style="margin-top: 50px">
                                {{ form.non_field_errors }} {% for error in form %} {{ error.errors }}
                            {% endfor %}
                                <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <form action="{% url 'orders:create_order' %}" method="post">
                            <div class="col-lg-12">
                                <div class="meeting-single-item">
                                    <div class="thumb">
                                        <img src="{% static 'assets/images/single-meeting.jpg' %}" alt="">
                                    </div>
                                    <div class="down-content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text"
                                                          id="inputGroup-sizing-sm">Наименование:</span>
                                                    {{ form.name }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="col-md-16">
                                                        <div class="input-group input-group-sm mb-3">
                                                            <span class="input-group-text"
                                                                  id="inputGroup-sizing-sm">Категория:</span>
                                                            {{ form.category }}
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">Действует до:</span>
                                                            {{ form.end_time }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="col-md-20">
                                                        <div class="input-group">
                                                            <span class="input-group-text">Описание:</span>
                                                            {{ form.description }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="main-button-red">
                                        <input type="submit" value="Создать заказ">
                                        <a type="button">Создать заказ</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>© 2022 N</p>
        </div>
    </section>
{% endblock %}