<table 
     id="datatable"
            class="meeting-table table count-digit table-bordered table-hover"
          >
            <thead>
              <tr class="count-digit">
                <th>№</th>
                <th>id Заказа</th>
                <th>Наименование</th>
                <th>Категория</th>
                <th>Фирма</th>
                <th>Дата заказа</th>
                <th>Действует до</th>
                <th>Статус</th>
                
              </tr>
            </thead>
            <tbody>
                            
              {% for row in page_obj %}
              <tr
                class="meeting-table-row"
                data-href="{% url 'orders:view_order' row.id %}"
              >
                <td>{{ forloop.counter }}</td>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td class="category_row">{{ row.category }}</td>
                <td>{{ row.author.comp_name }}</td>
                <td>{{ row.create_at }}</td>
                <td>{{ row.end_time }}</td>

                 </form>
                   
                <td {% if row.status == 'Active'%} class="text-success" {% else %} class="text-danger" {% endif %}> {{ row.status }}</td>
                
              </tr>
              {% endfor %}
              

            </tbody>
</table>

{% include 'includes/pagination.html' %}

<div class="pagination">
{% if page_obj.has_previous %}
  <a href="?page=1">First Page</a>
  <a href="{{page_obj.previos_page_number}}">&laquo; Previous</a>
{% endif %}

Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

{% if page_obj.has_next %}
  <a href="?page={{page_obj.next_page_number}}">&raquo; Next</a>
  <a href="?page={{page_obj.paginator.num_pages}}">Last</a>
{% endif %}
</div>