<table 
     id="datatable"
            class="meeting-table table count-digit table-bordered table-hover"
          >
            <thead>
              <tr class="count-digit">
                <th>№</th>
                <th>id Заказа</th>
                <th>Наименование</th>
                <th>Категория</th>
                <th>Фирма</th>
                <th>Дата заказа</th>
                <th>Действует до</th>
                <th>Статус</th>
                  {% if not request.user.role == 'Customer' and not request.user.role == 'Supplier' %}
                <th></th>
                  {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for row in page_obj %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td class="meeting-table-row"
                data-href="{% url 'orders:view_order' row.id %}">{{ row.id }}</td>
                <td class="meeting-table-row"
                data-href="{% url 'orders:view_order' row.id %}">{{ row.name }}</td>
                <td class="meeting-table-row"
                data-href="{% url 'orders:view_order' row.id %}" class="category_row">{{ row.category }}</td>
                <td class="meeting-table-row"
                data-href="{% url 'orders:view_order' row.id %}">{{ row.author.comp_name }}</td>
                <td class="meeting-table-row"
                data-href="{% url 'orders:view_order' row.id %}">{{ row.create_at }}</td>
                <td class="meeting-table-row"
                data-href="{% url 'orders:view_order' row.id %}">{{ row.end_time }}</td>
                <td {% if row.status == 'Active'%} class="text-success" {% else %} class="text-danger" {% endif %}> {{ row.status }}</td>

                  {% if not request.user.role == 'Customer' and not request.user.role == 'Supplier' %}
                <td class="button_delete">
                <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                       style="color: dodgerblue">
                    <button class="btn btn-outline-success" type="submit" name="{{ row.id }}">{% if row.status == 'Active' %}
                                                    Деактивировать{% else %}Активировать{% endif %}</button></a>
                </td>
                  {% endif %}
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1"
                                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Подтверждение действий</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Закрыть"></button>
                                        </div>
                                        <div class="modal-body">
                                            Вы действительно уверены, что хотите {% if row.status == 'Active' %}
                                            Деактивировать {% else %}
                                            Активировать{% endif %}?
                                        </div>
                                        <div class="modal-footer">
                                            <div class="row">
                                                <div class="main-button-red">
                                                    <form class="btn btn-primary" method="POST"
                                                          action="{% url 'orders:delete_order' row.id %}">
                                                        {% csrf_token %}<input type="submit" value="Подтверждаю">
                                                    </form>
                                                    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                        Закрыть
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
              </tr>
              {% endfor %}
            </tbody>

</table>
<!-- Важно, не изменять -->
{% load filter_tags %}
<div class="pagination">
{% if page_obj.has_previous %}
  <a href="{% my_url 1 'page' request.GET.urlencode %}">First Page</a>
  <a class="ms-1 me-1" href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
{% endif %}
Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
{% if page_obj.has_next %}
  <a class="ms-1" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
  <a class="ms-1" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a>
{% endif %}
</div>