<!doctype html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {{ title|title }} {% endblock %}</title>

    {% block css %}
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/templatemo-edu-meeting.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
    {% endblock %}
</head>
<body>

{% block menu %}
    {% include 'users/includes/inc_sub_header.html' %}
    {% include 'users/includes/inc_menu.html' %}
{% endblock %}

{% block content %}

{% endblock %}

{% block js %}
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/tabs.js' %}"></script>
    <script src="{% static 'assets/js/video.js' %}"></script>
    <script src="{% static 'assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/navigation.js' %}"></script>
{% endblock %}
</body>
</html>