<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        N
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/" class="active">Главная</a></li>
                        <li><a href="/">Категории</a></li>
                        <li><a href="/">Доска заказов</a></li>
                        <li><a href="/">Личный кабинет</a></li>
                        <!--                          <li class="has-sub">-->
                        <!--                              <a href="javascript:void(0)">Pages</a>-->
                        <!--                              <ul class="sub-menu">-->
                        <!--                                  <li><a href="meetings.html">Upcoming Meetings</a></li>-->
                        <!--                                  <li><a href="meeting-details.html">Meeting Details</a></li>-->
                        <!--                              </ul>-->
                        <!--                          </li>-->
                        <li><a href="/">Войти</a></li>
                        <li><a href="/">Выйти</a></li>
                        <li><a href="/">Администрация</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>