{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{ title | title }}</title>
    <link href="{% static "bootstrap-5.2.0-beta1-dist/css/bootstrap.css" %}" rel="stylesheet">
    <script src="{% static "bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.js" %}"></script>
  </head>
  <body class="bg-primary">
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">{% block content %} {% endblock %}</div>
        </main>
      </div>
    </div>
  </body>
</html>
