{% extends 'users/base.html' %}

{% load static %}


{% block title %}
    N
{% endblock %}

{% block css %}
    <link href="{% static 'bootstrap-5.2.0-beta1-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
{% endblock %}

{% block menu %}
    {% include 'users/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
    <main class="content-wrap">


        <div class="position-relative about overflow-hidden p-3 p-md-5  text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal text-color-g">О нас</h1>
                <p class="lead fw-normal text-color">
                    Наша миссия - сделать транспортировку продуктов питания по всей России прозрачной, устойчивой и
                    безотходной. Для начала наша платформа связывает общепит и поставщиков и улучшает процесс заказа,
                    чтобы сэкономить время, деньги и продукты.</p>
            </div>
        </div>

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row margin-bottom">
                <div class="col-lg-4">
                    <img src="{% static 'media/paper.png' %}" width="150" height="150" class="bottom-mg" alt="">

                    <h2 class="fw-normal">Никакой бумаги больше</h2>
                    <p>Все в приложении, а значит, больше никаких стопок бумаг.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{% static 'media/time.png' %}" width="150" height="150" class="bottom-mg" alt="">

                    <h2 class="fw-normal">Экономьте своё время</h2>
                    <p>Мобильный заказ быстрее. Наши пользователи экономят более 2 часов в неделю.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="{% static 'media/money.png' %}" width="150" height="150" class="bottom-mg" alt="">

                    <h2 class="fw-normal">Тратьте меньше, экономьте больше</h2>
                    <p>Более точные заказы означают меньше ошибок, меньше отходов и меньше затрат.</p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="c1 carousel-item active">

                        <div class="container">
                            <div class="carousel-caption margin-bottom">
                                <h1 class="text-color tf">ПЛАТФОРМА № 1 ДЛЯ РЕСТОРАТОРОВ И ОПТОВИКОВ</h1>
                                <p class="text-color pf">С N повседневные заказы наконец-то стали цифровыми. Будь то на
                                    кухне
                                    или в сервисе,
                                    в офисе или в дороге - наш сайт наконец-то положил конец разочарованиям
                                    в повседневной работе.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item c2">
                        <div class="container">
                            <div class="carousel-caption margin-bottom">
                                <h1 class="text-color tf">СОКРАТИТЕ ОБЪЕМ РАБОТЫ</h1>
                                <p class="text-color pf">N делает размещение и получение заказов более эффективным. Наши
                                    интуитивно понятный
                                    веб-сайт упрощают работу поваров, владельцев и торговых представителей. Тратьте ваши
                                    деньги эффективней.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item c3">
                        <div class="container">
                            <div class="carousel-caption margin-bottom">
                                <h1 class="text-color tf">МЫ ОБЪЕДИНЯЕМ РЕСТОРАТОРОВ РОССИИ</h1>
                                <p class="text-color pf">Мы хотим объединить ведущие умы в пищевой промышленности
                                    посредством
                                    мероприятий,
                                    дискуссий и партнерства. В конце концов, лучшие идеи приходят в результате командной
                                    работы.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"><span class="text-muted">Для </span>общепита</h2>
                    <p class="lead">Откажитесь от бесконечных листов заказов и ночных ожиданий по телефону. Наш
                        бесплатный
                        сайт - это самый эффективный способ заказа у всех ваших поставщиков. Выполняйте заказы
                        быстрее, ложитесь спать раньше. Нашими услугами пользуются свыше 5000 компаний общепита!</p>
                </div>
                <div class="col-md-5">
                    <div class="col-lg-4"><img class="img-info" src="{% static 'media/restaurant.png' %}" alt=""></div>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1"><span class="text-muted">Для </span>поставщиков
                    </h2>
                    <p class="lead">Независимо от того, являетесь ли вы семейной фермой или национальным дистрибьютором,
                        наша платформа, разработанная специально для вас, изменит способ ведения бизнеса. Сэкономьте
                        время
                        на ручных операциях, сократите количество ошибок в заказах и продавайте больше продукции. Нашей
                        платформой пользуйся свыше 1000 поставщиков!</p>
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="col-lg-4"><img class="img-info" src="{% static 'media/suppliers.png' %}" alt=""></div>

                </div>
            </div>


            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->


            <div class="d-md-flex  flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="bg-success me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Экология</h2>
                        <p class="lead">Мы вносим свой вклад в защиту экологии. Важно действовать не завтра, а
                            СЕЙЧАС! Именно поэтому мы заботимся о биоразнообразии, защите ресурсов, нашей воды и
                            прочего.
                            Цели в области устойчивого развития являются для нас руководящими принципами. С 2009 года мы
                            также сотрудничаем с природоохранной организацией WWF в целях защиты окружающей среды. Наши
                            поставщики обязаны соблюдать чёткие и строгие правила по защите экологии.</p>
                    </div>
                </div>
                <div class="bg-yellow me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Животные</h2>
                        <p class="lead">Благополучие животных и их здоровье очень важны для нас. Мы активно
                            стремится к улучшению благосостояния животных при выращивании и содержании
                            сельскохозяйственных
                            животных. Мы продолжаем поощрять поставщиков, которые производят свои продукты в
                            соответствии с
                            более
                            высокими стандартами благополучия животных. При этом мы требуем не только большего
                            благополучия
                            и здоровья животных, но и большей прозрачности и прослеживаемости всей технологической
                            цепочки.</p>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->

    </main>

    <footer class="footer  mt-auto py-3 bg-green">
        <div class="container footer-inner">
            <div class="text-color-w">&copy; 2022 N</div>
        </div>
    </footer>
{% endblock %}
