{% extends 'base.html' %}
{% load static %}

{% block title %}
N
{% endblock %}


{% block content %}

<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop>
        <source src="#"/>
    </video>
    <div class="video-overlay header-text">
        <div class="container text-center" style="padding-top:105px">
            <a href="#" class="btn btn-danger active" style="margin: 5px 5px 5px 5px; border-radius:20px" role="button"
               aria-pressed="true">Мой
                профиль</a>
            <a href="#" class="btn btn-danger active" style="margin: 5px 5px 5px 5px; border-radius:20px" role="button"
               aria-pressed="true">История
                заказов</a>
        </div>
    </div>
</section>

<section class="main" id="form5">
    <div class="container">
        <div class="py-3 text-center">

            <h2>Мой Профиль</h2>
            <!--                <img class="d-block mx-auto mb-4" src="#" alt="" width="72"-->
            <!--                     height="57">-->
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-8 mx-auto" data-form-type="formoid">
                <form action="#" method="POST" class="form"
                      data-form-title="Form Name" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="row ">
                            <div class="col-md mb-3">
                                <label class="col-sm-6" for="{{ form.username.id_for_label }}">Никнейм</label>
                                {{ form.username }}
                            </div>
                            <div class="col-md mb-3">
                                <label class="col-sm-6" for="{{ form.email.id_for_label }}">Email</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md mb-3">
                                <label class="col-sm-6" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                                {{ form.last_name }}
                            </div>
                            <div class="col-md mb-3">
                                <label class="col-sm-6" for="{{ form.first_name.id_for_label }}">Имя</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md mb-3">
                                <label class="col-sm-6" for="{{ form.city.id_for_label }}">Город</label>
                                {{ form.city }}
                            </div>
                            <div class="col-md mb-3">
                                <label class="col-sm-6" for="{{ form.phone_number.id_for_label }}">Телефон</label>
                                {{ form.phone_number }}
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md mb-3">
                                <label class="col-sm-6" for="{{ form.comp_name.id_for_label }}">Название комании</label>
                                {{ form.comp_name }}
                            </div>
                            <div class="col-md mb-3">
                                <label class="col-sm-6" for="{{ form.ogrn.id_for_label }}">ОГРН</label>
                                {{ form.ogrn }}
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md mb-3">
                                <label class="col-sm" for="{{ form.role.id_for_label }}">Роль</label>
                                {{ form.role }}
                            </div>
                            <div class="col-md mb-3">
                                <label class="col-sm-6" for="{{ form.date_joined.id_for_label }}">Дата регистрации</label>
                                {{ form.date_joined }}
                            </div>
<!--                        </div>-->
<!--                        <div>Смена пароля-->
<!--                        </div>-->
<!--                        <div class="col-md mb-3" data-for="password1">-->
<!--                            <input type="password" name="password1" placeholder="Введите пароль"-->
<!--                                   data-form-field="password1"-->
<!--                                   class="form-control" value="">-->
<!--                        </div>-->
<!--                        <div class="col-md mb-3" data-for="password2">-->
<!--                            <input type="password" name="password2" placeholder="Подтвердите пароль"-->
<!--                                   data-form-field="password2"-->
<!--                                   class="form-control" value="">-->
<!--                        </div>-->
                            </div>
                        <div class="col-md-6">
                            <div class="form-group py-4">
                                <label class="col-sm-6" for="{{ form.bio.id_for_label }}">Описание</label>
                                {{ form.bio }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"
                                 style="margin-top: 33px;">
                                <input class="btn btn-danger active" type="submit"
                                       style="margin: 5px 5px 5px 5px; border-radius:20px" value="Сохранить">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="footer" style="background:gray">
    <p>© 2022 N</p>
</section>
{% endblock %}



