{% extends 'base.html' %}

{% block content %}
    <section class="profile" id="profile">
        <div class="container">
            <div class="row profile-content">
                <div class="col-lg-4 profile-content">
                    <div class="left-info">
                        <ul>
                            <li class="col-lg-12">
                                <h6>Тел. номер</h6>
                                <span>+7 000-888-0340</span>
                            </li>
                            <li class="col-lg-12">
                                <h6>Эл. почта</h6>
                                <span>info@n.ru</span>
                            </li>
                            <li class="col-lg-12">
                                <h6>Адрес</h6>
                                <span>7-я Кожуховская ул., 9, Москва</span>
                            </li>
                            <li class="col-lg-12">
                                <h6>Представитель</h6>
                                <span>Бойко Михаил Иванович</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 profile-content">
                    <div class="right-info col-lg-12">
                        <div class="comp_name col-lg-12">
                            <h2>Company Name</h2>
                        </div>
                        <div class="right-content col-lg-12">
                            <i class="fa fa-check-circle-o rating"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>© 2022 N</p>
        </div>
    </section>s
{% endblock %}