{% extends 'users/login_reg_base.html' %}

{% block errors %}
    {% if form.errors %}
        <div
                id="error-list"
                class="alert fade show"
                role="alert"
                style="margin-top: 50px; display: flex;"
        >
            <div>
                {{ form.non_field_errors }}
                {% for error in form %}
                    {{ error.errors }}
                {% endfor %}
            </div>
            <button
                    id="close-btn"
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="{% url 'users:register' %}" method="post" id="contact">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                <h2>Регистрация</h2>
            </div>
            <div class="col-lg-6 inp">
                <fieldset>
                    <label class="small mb-1">Никнейм</label>
                    {{ form.username }}
                </fieldset>
            </div>
            <div class="col-lg-6 inp">
                <fieldset>
                    <label class="small mb-1" for="inputEmailAddress">Адрес электронной почты</label>
                    {{ form.email }}
                </fieldset>
            </div>

            <div class="col-lg-6 inp">
                <fieldset>
                    <label class="small mb-1">Имя</label>
                    {{ form.first_name }}
                </fieldset>
            </div>
            <div class="col-lg-6 inp">
                <fieldset>
                    <label class="small mb-1">Фамилия</label>
                    {{ form.last_name }}
                </fieldset>
            </div>
            <div class="col-lg-12">
                <fieldset>
                    <label id="message" class="small mb-1" style="display: block;"></label>

                    <div id="orgn-group-input" class="group-input mb-3 mt-3">
                        {{ form.ogrn }}
                        <button type="button" id="button-addon">Проверка</button>
                    </div>
                </fieldset>

            </div>
            <div class="col-lg-12 read_only">
                <fieldset>
                    <div style='display:none; flex-wrap: nowrap;'
                         class="col-md-12" id='view_company'>
                        <div class="col-md-12">
                            <label class="small mb-1">Название компании</label>
                            {{ form.comp_name }}
                        </div>
                        <div class="col-md-12">
                            <label class="small mb-1">Город</label>
                            {{ form.city }}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6 inp">
                <fieldset>
                    <label class="small mb-1">Заказчик/Поставщик</label>
                    {{ form.role }}
                </fieldset>
            </div>
            <div class="col-lg-6 inp">
                <fieldset>
                    <label class="small mb-1">Контактный телефон</label>
                    {{ form.phone_number }}
                </fieldset>
            </div>
            <div class="col-lg-6 inp">
                <fieldset>
                    <label class="small mb-1" for="inputPassword">Пароль</label>
                    {{ form.password1 }}
                </fieldset>
            </div>
            <div class="col-lg-6 inp">
                <fieldset>
                    <label class="small mb-1" for="inputConfirmPassword">Подтверждение пароля</label>
                    {{ form.password2 }}
                </fieldset>
            </div>
            <div class="col-lg-12">
                <fieldset>
                    <label class="small mb-1">Описание</label>
                    {{ form.bio }}
                </fieldset>
            </div>
            <div class="col-lg-12 submit-btn">
                <fieldset>
                    <button style="display: none"
                            class="button button-login-reg"
                            id='register_button'
                            type="submit">Создать аккаунт
                    </button>
                </fieldset>
            </div>
        </div>
        <div class="footer">
            <p><a href="{% url 'users:login' %}">Уже есть аккаунт? Авторизоваться!</a></p>
        </div>
    </form>
{% endblock %}