{% extends 'base.html' %}

{% load static %}

{% block title %}
    N
{% endblock %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
  <div class="col-lg-5">
    {% if form.errors %}
    <div
      class="alert alert-warning alert-dismissible fade show"
      role="alert"
      style="margin-top: 50px"
    >
      {{ form.non_field_errors }} {% for error in form %} {{ error.errors }}
      {%endfor%}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <div class="card shadow-lg border-0 rounded-lg mt-5">
      <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Регистрация</h3>
        <p class="text-center">Кнопка регистрации появится после проверки ОГРН (ЕГРИП).</p>
      </div>
      <div class="card-body">
        <form action="{% url 'users:register' %}" method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="col-md-12">
               <label class="small mb-1">Никнейм</label>
              {{ form.username }}
            </div>
            <div class="col-md-12">
               <label class="small mb-1">Фамилия</label>
              {{ form.last_name }}
            </div>
            <div class="col-md-12">
                <label class="small mb-1">Имя</label>
              {{ form.first_name }}
            </div>
             <p id='message' class="mt-3 mb-0" style="display: block;">`{message}`</p>
            <div class="input-group mb-3 mt-3">
              {{ form.ogrn }}
              <button class="btn btn-outline-secondary" type="button" id="button-addon">Проверка</button>
            </div>
             <div style='display:none; margin-top: 10px; padding: 10px 20px 20px 20px' class="col-md-12 border border-success border-3" id='view_company'>
              <div class="col-md-12">
                <label class="small mb-1">Название компании</label
                >
                 {{ form.comp_name }}
              </div>
              <div class="col-md-12">
                <label class="small mb-1"
                  >Город</label
                >
                {{ form.city }}
              </div>
            </div>
            <div class="col-md-12">
               <label class="small mb-1" for="inputEmailAddress"
                >Адрес электронной почты</label
              >
              {{ form.email }}
            </div>
            <div class="col-md-12">
              <label class="small mb-1" for="inputPassword">Пароль</label>
              {{ form.password1 }}
            </div>
            <div class="col-md-12">
               <label class="small mb-1" for="inputConfirmPassword">Подтверждение пароля</label>
                {{ form.password2 }}
            </div>
            <div class="col-md-12">
               <label class="small mb-1">Заказчик/Поставщик</label>
                  {{ form.role }}
              </div>
            <div class="col-md-12">
                <label class="small mb-1">Контактный телефон</label>
                  {{ form.phone_number }}
              </div>
            </div>
            <div class="col-md-12">
               <label class="small mb-1">Описание</label>
                {{ form.bio }}
                 </div>
                 <div class="form-group mt-4 mb-0">
              <input style="display: none"
                class="btn btn-primary btn-block"
                id='register_button'
                type="submit"
                value="Создать аккаунт"/>
            </div>
          </div>
        </form>
         <div class="card-footer text-center">
          <div class="small">
            <a href="{% url 'users:login' %}">Уже есть аккаунт? Авторизоваться!</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}