anyio==3.6.1
asgiref==3.5.2
astroid==2.11.5
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
certifi==2022.5.18.1
colorama==0.4.4
dadata==21.10.1
dill==0.3.5.1
Django==4.0.4
django-filter==22.1
django-multi-form-view==2.0.1
django-phonenumber-field==6.1.0
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mypy==0.960
mypy-extensions==0.4.3
packaging==21.3
phonenumbers==8.12.49
Pillow==9.1.1
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pylint==2.13.9
pyparsing==3.0.9
pytest==7.1.2
rfc3986==1.5.0
schedule==1.1.0
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
typing_extensions==4.2.0
tzdata==2022.1
wrapt==1.14.1
