.nav-btn {
    border: 1px solid #c2c2c2 !important;
}

.nav-link:hover {
    color: #cecece !important;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.bg-green {
    background-color: rgb(33, 121, 22);
}