<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="">
    <title>MyOrders</title>
    <link rel="stylesheet" href="../../../static/profile/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/profile/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../../../static/profile/assets/theme/css/style.css">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" href="../../../static/profile/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="../../../static/profile/assets/mobirise/css/mbr-additional.css" type="text/css">


</head>
<body>

<section data-bs-version="5.1" class="menu menu2 cid-sFF0ciwnEL" once="menu" id="menu2-0">

    <nav class="navbar navbar-expand-lg fixed-top ">
        <div class="container-fluid navigation">
            <div class="navbar-brand text-white">

                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-white"
                       href="#">Зеленые Луга</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                    data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span style="background: white"></span>
                    <span style="background: white"></span>
                    <span style="background: white"></span>
                    <span style="background: white"></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="#">Главная</a></li>
                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="#">Категории</a>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="#">Заказы</a>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="#">Выйти</a>
                    </li>
                </ul>


            </div>
        </div>
    </nav>
</section>
<section data-bs-version="5.1" class="info2 cid-t7X4lymUNx" id="info2-p">
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="wrapper">


                    <div class="mbr-section-btn"><a class="btn btn-white display-4" href="#">Мой профиль</a>
                        <a class="btn btn-white display-4" href="#">Текущие заказы</a> <a
                                class="btn btn-white display-4" href="#">История заказов</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="form5 cid-t7X5hkhr14" id="form5-q">

    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style mb-0 display-5"><strong>История Заказов</strong></h3></h3>

        </div>
        <div class="row mt-4">
            <div class="card col-12" >
                <div class="card-wrapper" style="background:#d9ffd8; margin-bottom:2rem; padding:2rem">
                    <div class="top-line row">
                        <div class="col">
                            <a class="card-title mbr-fonts-style display-7" href="#" style="color:#000000"><strong>Заказ №1</strong></a>
                        </div>
                        <div class="col-auto">
                            <p class="price mbr-fonts-style display-7">Статус: <strong>Завершено</strong></p>
                        </div>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7"><strong>Категория</strong>: Овощи и
                            Фрукты<br><strong>Адрес</strong>: г. Омск, ул. Мира 2/1<br><strong>Описание</strong>:
                            Морковка - 5 шт, Апельсин - 2 ящика<br><strong>Срок поставки</strong>:
                            06.07.2022<br><strong>Цена</strong>:&nbsp; 70 руб</p>

                    </div>
                    <div class="top-line row">
                        <div class="col">
                            <a class="card-title mbr-fonts-style display-7" style="color:#000000"><strong>Поставщик:</strong> Беляев Иван</a>
                        </div>
                    </div>
                </div>
                <div class="card-wrapper" style="background:#d9ffd8; margin-bottom:2rem; padding:2rem ">
                    <div class="top-line row">
                        <div class="col">
                            <a class="card-title mbr-fonts-style display-7" href="#" style="color:#000000"><strong>Заказ №2</strong></a>
                        </div>
                        <div class="col-auto">
                            <p class="price mbr-fonts-style display-7">Статус: <strong>Завершено</strong></p>
                        </div>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7"><strong>Категория</strong>: Мясные продукты
                            <br><strong>Адрес</strong>: г. Омск, ул. Мира 2/1<br><strong>Описание</strong>:
                            Говядина -  3кг<br><strong>Срок поставки</strong>: 02.07.2022<br><strong>Цена</strong>:&nbsp; 1500р</p>
                    </div>
                    <div class="top-line row">
                        <div class="col">
                            <a class="card-title mbr-fonts-style display-7" style="color:#000000"><strong>Поставщик:</strong> Кривошеев Феодосий</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer7 cid-sFF3CYc3p7" once="footers" id="footer7-9">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2022 Зеленые Луга - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>
<script src="../../../static/profile/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../static/profile/assets/smoothscroll/smooth-scroll.js"></script>
<script src="../../../static/profile/assets/dropdown/js/navbar-dropdown.js"></script>


</body>
</html>